<h1 class="p-6 bg-slate-100 rounded-x1 shadow mb-4 text-x1 font-semibold">
  Add Movie
</h1>

<%= render "form", movie: @movie %>

<div class="mt-4">
  <%= link_to "Back", movies_path, class: "text-blue-600 hover:underline" %>
</div>